h1 Pulso Electoral
  span \ Elecciones 2011
  
#chart
  #labels
  #field

script(src='/socket.io/socket.io.js')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')

script
  var socket = new io.Socket(); 
  socket.connect();  
  
  $(document).ready(function(){
    var keys = !{JSON.stringify(keys)}  
    
    var field = $("#field")
  
    var fieldHeight = field.height();
    var fieldWidth  = field.width();    
    var barWidth     = fieldHeight / keys.length;
    
    var bars = {}
    
    for (i=0; i < keys.length; i++){
      bars[keys[i]] = $("<div/>").addClass("bar")          
      $("<div/>")
        .addClass('bar_container')
        .height(barWidth)
        .appendTo(field)
        .append(bars[keys[i]])          
    }
        
    socket.on('message', function(data){
      for (key in data){
          console.log(data[key].score)
          bars[key].animate({ width: (data[key].score) + "px" })
          // barHeight = (data[key].score * (canvasWidth - xOffset) / (total / 2))
          // barHeight = data[key].score * 20
          // context.fillStyle = "rgba(170, 15, 23, 1)"
          // context.fillRect(xOffset + 1, barOffset, barHeight , barWidth -40)
          // barOffset += barWidth
      }
    })
  
  })
  