h1 Pulso Electoral
  span \ Elecciones 2011
  
#chart
  #labels
  #field

script(src='/socket.io/socket.io.js')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')

script
  var socket = new io.Socket(); 
  socket.connect();  
  
  jQuery.extend(jQuery.easing, {
    jump: function (x, t, b, c, d){
      return (t==d) ? b+c : c * (-Math.pow(2, -10 * t/d) + 1) + b;
    }
  })
  
  $(document).ready(function(){
    var keys = !{JSON.stringify(keys)}  
    
    var field = $("#field")
  
    var fieldHeight = field.height();
    var fieldWidth  = field.width();    
    var barContainerHeight  = fieldHeight / keys.length;
    
    var bars = {}
    var keys_length = keys.length
    
    for (i=0; i < keys_length ; i++){
      var bar = bars[keys[i]] = $("<div/>")
        .addClass("bar")          
        .append($("<div/>").addClass('needle'))
                
      $("<div/>")
        .addClass('bar_container')
        .height(barContainerHeight)
        .appendTo(field)
        .append(bar)   
    }
    
    ($(".bar_container:not(:first-child) > .bar")).css(
      { 'margin-top': ((barContainerHeight * 0.3) / 3) + "px" }
    )
    
    var needleWidth = $(".needle").width()
    
    var handleTweet = function(data){
      var tally_length = data.tally.length
      for (i=0; i < tally_length; i++){
        var bar = bars[data.tally[0]]
        var needle = bar.find(".needle")
        needle.stop()
        var jumpSize = Math.min(100, bar.width() - (needle.position().left + needleWidth))
        needle.animate({ left: "+="+jumpSize+"px" }, 400, 'jump', function(){          
          needle.animate({ left: "0px"}, 8000 )
        })
      }
    }
    
    var handleStats = function(data){
      for (key in data){
          bars[key].animate({ width: (data[key].score) + "px" })
          // barHeight = (data[key].score * (canvasWidth - xOffset) / (total / 2))
          // barHeight = data[key].score * 20
      }
    }
            
    socket.on('message', function(data){
      if (data.tweet){
        handleTweet(data)
      } else {
        handleStats(data)
      }  
    })
  
  })
  