h1 Pulso Electoral
  span \ Elecciones 2011
  
#chart
  #labels
  #field

script(src='/socket.io/socket.io.js')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')

script
  var socket = new io.Socket(); 
  socket.connect();
  
  // $(function(){
  // var keys = !{JSON.stringify(keys)}  
  // 
  // var fieldHeight = $("#field").height();
  // var fieldWidth  = $("#field").width();
  // 
  // var barWidth     = fieldHeight / keys.length;
  // 
  // })
  
  socket.on('message', function(data){
    var total = 0
    var barOffset = 0 
    var barHeight
    
    for (key in data){
        total += data[key].score
    } 
    
    for (key in data){
        console.log(data[key].score)
        // barHeight = (data[key].score * (canvasWidth - xOffset) / (total / 2))
        // barHeight = data[key].score * 20
        // context.fillStyle = "rgba(170, 15, 23, 1)"
        // context.fillRect(xOffset + 1, barOffset, barHeight , barWidth -40)
        // barOffset += barWidth
    }
  })