div.clearfix
  h1 Pulso Electoral
    span \ Elecciones 2011

  div.social    
    <a href="http://twitter.com/share" class="twitter-share-button" data-text="Pulso Electoral: Los tweets electorales en tiempo real." data-count="horizontal" data-via="pulso_electoral" data-related="robertothais:El autor de Pulso Electoral" data-lang="es"></a>
    script  
      $(function() {
          var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
          s.type = 'text/javascript';
          s.src = 'http://platform.twitter.com/widgets.js';
          s1.parentNode.insertBefore(s, s1);
      });
    
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fpulsoelectoral.com&amp;layout=button_count&amp;show_faces=false&amp;width=50&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21&amp;locale=es_PE" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
    

h2 Ya no hay más encuestas. Hay Pulso Electoral.


#inner_contents.clearfix
  
  #chart
    #labels
    #field

  #tweets

script(src='/socket.io/socket.io.js')
script(src='/script/pulso.js')
script
  var Pulso = {}
  Pulso.keys = !{JSON.stringify(keys)}



  