h2 Acerca de Pulso Electoral

p Pulso Electoral es un visualizador, en base a tweets, del sentimiento popular hacia los candidatos presidenciales del Perú.

p El sistema recibe los tweets en tiempo real desde Twitter y los analiza para determinar a qué candidato(s) corresponden. Luego los re-envía a todos los usuarios en la página y los representa en forma de un pulso en el candidato o candidatos pertinentes.

p A la misma vez, Pulso Electoral calcula un puntaje cumulativo basado en el total de tweets de cada candidato y qué tan recientes son. Este puntaje se refleja en las barras rojas que contienen los pulsos. Para más detalles acerca de cómo se realiza este cálculo, véase la 
  a#hoja(href='#informacion-tecnica') información técnica
  span .

p El sistema de análisis semántico que define a quién se refieren los tweets no es perfecto, y de cuando en cuando ocurren falsos positivos con tweets sin relación a las elecciones. Esto es más común con tweets que contienen las palabras 'Toledo' o 'Keiko', pues son nombres propios populares en otros contextos.

h3 Contacto

p Twitter: 
  a(href='http://twitter.com/pulso_electoral', target='_blank') @pulso_electoral
  \ y
  a(href='http://twitter.com/robertothais', target='_blank') @robertothais
  , el autor.

p Email: 
  a(href='mailto:roberto@pulsoelectoral.com') roberto@pulsoelectoral.com

