!!! 5
html
  head
    meta(name="google-site-verification", content="one79XlMHvlrOSS_5i-s-chBzzAA6kcFmCnwLx0C-gI")
    meta(name='description', content='Los tweets electorales en tiempo real. Pulso Electoral es un visualizador, en base a tweets, del sentimiento popular hacia los candidatos presidenciales del Perú.')
    meta(property='og:title', content='Pulso Electoral')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://pulsoelectoral.com')
    meta(property='og:image', content='http://a0.twimg.com/profile_images/1292117038/pulso_logo.png')
    meta(property='og:site_name', content='Pulso Electoral')
    meta(property='og:description', content='Los tweets electorales en tiempo real. Pulso Electoral es un visualizador, en base a tweets, del sentimiento popular hacia los candidatos presidenciales del Perú.')
    meta(property='fb:admins', content='303921')
    
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
    script
      //chartbeat
      var _sf_startpt=(new Date()).getTime()
      
    title Pulso Electoral
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/facebox.css')
    
  body
    #contents
      != body
    
    #footer 
      a#info(href='#info')
        img(src='/images/info.png')

      © 2011 Roberto Thais (<a href='http://twitter.com/robertothais' target='_blank'>@robertothais)
    
    script(src='/script/facebox/facebox.js')    
    script
      //facebox      
      $(function(){
        $.facebox.settings.closeImage = '/images/facebox/closelabel.png'
        $.facebox.settings.loadingImage = '/images/facebox/loading.gif'
        $("a#info").click(function(){
          $.facebox({ 'ajax': '/info' })
        })
        $(document).bind('close.facebox', function(){
          window.location.hash = "";
        })
      })        
    
      //chartbeat
      var _sf_async_config={uid:21967,domain:"pulsoelectoral.com"};
      (function(){
        function loadChartbeat() {
          window._sf_endpt=(new Date()).getTime();
          var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src',
             (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
             "js/chartbeat.js");
          document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
           loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();
      
      //GA
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4837801-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();    