!!! 5
html
  head
    meta(name="google-site-verification", content="one79XlMHvlrOSS_5i-s-chBzzAA6kcFmCnwLx0C-gI")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
    script
      //chartbeat
      var _sf_startpt=(new Date()).getTime()
      
    title Pulso Electoral
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/facebox.css')
    
  body
    #contents
      != body
    
    #footer 
      a#info(href='#info')
        img(src='/images/info.png')

      © 2011 Roberto Thais (<a href='http://twitter.com/robertothais' target='_blank'>@robertothais)
    
    script(src='/script/facebox/facebox.js')    
    script
      //facebox      
      $(function(){
        $.facebox.settings.closeImage = '/images/facebox/closelabel.png'
        $.facebox.settings.loadingImage = '/images/facebox/loading.gif'
        $("a#info").click(function(){
          $.facebox({ 'ajax': '/info' })
        })
        $(document).bind('close.facebox', function(){
          window.location.hash = "";
        })
      })        
    
      //chartbeat
      var _sf_async_config={uid:21967,domain:"pulsoelectoral.com"};
      (function(){
        function loadChartbeat() {
          window._sf_endpt=(new Date()).getTime();
          var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src',
             (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
             "js/chartbeat.js");
          document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
           loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();
    