!!! 5
html
  head
    script
      //chartbeat
      var _sf_startpt=(new Date()).getTime()
      
    title Pulso Electoral
    link(rel='stylesheet', href='/style.css')
    
  body
    #contents
      != body
    
    #footer Una Produccion de Roberto Thais
      
    script
      //chartbeat
      var _sf_async_config={uid:21967,domain:"pulsoelectoral.com"};
      (function(){
        function loadChartbeat() {
          window._sf_endpt=(new Date()).getTime();
          var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src',
             (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
             "js/chartbeat.js");
          document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
           loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();
    